# Cloud Database URL (Supabase, Railway Postgres, Neon, or DigitalOcean)
DATABASE_URL=postgresql://postgres.xxx:password@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# API Key for endpoint authentication (Used by clients & MCP)
API_KEY=xvAEWCbZkT30J8zUdMPLsXO9G6B1V7Nw

# Secret key for JWT User Session Authentication
JWT_SECRET=change-this-to-a-secure-random-secret
